.navbar {
  background-color: #F7D000;
}
a.navbar-item:hover {
  background-color: #F7D000;
  color: #0027F7;
}
.navbar-item.has-dropdown:hover .navbar-link, a.navbar-item:focus, a.navbar-item:focus-within {
  background-color: #F7D000;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #0027F7;
}
.footer {
  background-color: #F7D000;
  padding: 0.5rem
}
.button.is-primary {
  background-color: #0027F7;
}
.button.is-primary:hover {
  background-color: #000000;
}
.select.is-link select {
  border-color: #0027F7;
}
.is-link.input, .is-link.textarea {
  border-color: #0027F7;
}
a {
  color: #0027F7;
}
a:hover {
  color: #000000;
}
.is-arrowless {
  color: #0027F7;
}
.title {
  color: #000000;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
  color: #000000;
}
.label {
  color: #000000;
}
.column {
  margin-top: 0.75rem;
}
.joinRight {
  padding-right: 0;
}
.joinLeft {
  padding-left: 0;
}
#noCenterText {
  text-align: start;
}
body {
  color: #000000;
}